name: firebase_auth_flutterfire_ui
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0-0

dependencies:
  flutter:
    sdk: flutter
  firebase_auth: ^5.6.0
  firebase_core: ^3.14.0
  firebase_ui_auth: ^1.17.0
  firebase_ui_oauth_google: ^1.4.2
  google_sign_in: ^6.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
