<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963656261848-v7r3vq1v6haupv0l1mdrmsf56ktnua60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963656261848-v7r3vq1v6haupv0l1mdrmsf56ktnua60</string>
	<key>API_KEY</key>
	<string>AIzaSyBqLWsqFjYAdGyihKTahMRDQMo0N6NVjAs</string>
	<key>GCM_SENDER_ID</key>
	<string>963656261848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.complete</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-ui-codelab</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-ui-codelab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963656261848:ios:d9e01cfe8b675dfcb237ad</string>
</dict>
</plist>
