name: firebase_auth_flutterfire_ui
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.0-0

dependencies:
  flutter:
    sdk: flutter
  firebase_auth: ^6.1.2
  firebase_core: ^4.2.1
  firebase_ui_auth: ^3.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
